<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <title>Все изделия</title>
</head>

<body>
    <br>
    <button type="button"><a href="/"><-- Вернуться на главную страницу</a></button><br>
    {% if user.firm != '' %}
    <h2><a href="/products/create">Добавить изделие</a></h2>
    {% endif %}

    {% for object in object_list %}

    <li><strong>Название: {{ object.title }}</strong>  Качество: {{ object.sort }}</li>
    <li>Цена: {{ object.price }}  Кол-во: {{ object.quantity }}</li>
    <a href="/products/{{ object.id }}">Детальная информация</a>

    {% if user.firm == object.id_firm %}
        <a href="/products/{{ object.id }}/update">Изменить</a>
        <a href="/products/{{ object.id }}/delete">Удалить</a>
    {% endif %}

    <hr/>
    {% empty %}
    <p>Нет изделий.</p>
    {% endfor %}
</body>

</html>